<h3>Books</h3>
<table class="table table-hover">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  <% book.each do |book| %>
  <tr>
    <td>
      <%= link_to user_path(book.user_id) do %>
        <%= image_tag book.user.get_profile_image(80, 80) %>
      <% end %>
      </td>
    <td>
      <%= link_to book_path(book.id) do %>
        <%= book.title %>
      <% end %>
    </td>
    <td><%= book.body %></td>
    <% if book.favorited_by?(current_user) %>
      <td>
        <%= link_to book_favorites_path(book), method: :delete, class: "text-danger" do %>
         <i class="fas fa-heart"></i> <%= book.favorites.count %>
        <% end %>
      </td>
    <% else %>
      <td>
        <%= link_to book_favorites_path(book), method: :post, class: "text-primary" do %>
          <i class="fas fa-heart"></i> <%= book.favorites.count %>
        <% end %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>
